body {margin:0;font-family:Arial;background:#f6f6f6}
header {background:#ff6a00;color:white;padding:15px;display:flex;justify-content:space-between}
nav a {color:white;margin:0 10px;text-decoration:none;font-weight:bold}
.logo {font-size:22px;font-weight:bold}
.hero {padding:80px;text-align:center;background:#fff}
.btn {background:#25D366;color:white;padding:10px 20px;border-radius:5px;text-decoration:none;display:inline-block}
.products {padding:40px}
.grid {display:grid;grid-template-columns:repeat(auto-fit,minmax(250px,1fr));gap:20px}
.card {background:white;padding:20px;border-radius:10px;text-align:center;box-shadow:0 0 10px #ddd}
.card img {width:100%;height:200px;object-fit:cover}
footer {background:#222;color:white;text-align:center;padding:20px;margin-top:40px}
.page-title{text-align:center;margin:30px}
.product-page{display:flex;gap:40px;padding:40px}
.product-page img{width:300px;border-radius:10px}
.contact{text-align:center;padding:50px}
